.listOfLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.itemLink {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.itemLink:hover {
    background-color: var(--color-blue-normal);
}

.iconLink {
    height: 2.7rem;
    width: 2rem;
}

.textLink {
    font-size: 1.7rem;
    font-weight: 450;
}