:root{
    --color-back-page : #171B24 ;
    --color-back-card : #212936 ;
    --color-blue-normal : #2D99EF ;
    --color-blue-hover : #17456E ; 
    --color-white : #ffffff ; 
    --color-yellow : #FACD4B ;
    --color-back-Hover : #444654 ; 
    --color-font-gray : #BABABA ; 
}